{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<h1>detail 페이지</h1>
{% comment %} 댓글 작성 기능 {% endcomment %}
<h1>댓글 작성</h1>
<form action="{% url 'reviews:create_comment' review.pk %}">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% bootstrap_button button_type='submit' content='댓글달기' %}
</form>

{% comment %} 댓글 목록 {% endcomment %}
<h1>댓글 목록</h1>
{% for comment in comments %}
 {{ comment.user }}
 {{ comment.content }}
 <a href="{% url 'reviews:delete_comment' review.pk comment.pk %}">댓글 삭제</a>
{% endfor %}
{% endblock content %}